body {
    margin: 0;
    font-family: "Roboto";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 24px;
}
.header-links li a {
    font-size: 18px;
    color: #E5E7EB;
}

.start {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 128px;
}

.start-content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
}

.start-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.start-paragraph {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.start-button {
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    padding: 8px 30px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
}

.start-button:hover {
    cursor: pointer;
    background-color: #2F6CCC;
}

.start-image {
    width: 450px;
}

.middle {
    padding: 128px;
}

.middle-heading {
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.middle-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.small-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    gap: 16px;
}

.small-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.quote-background {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-container {
    /* padding: 128px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    width: 800px;
}

.quote-text {
   font-size: 36px;
   color: #1F2937;
   font-weight: 300;
}
.quote-author {
    margin-left: auto;
    color: #1F2937;
    font-size: 20px;
    font-weight: 900;
}